.inputClass{
    max-width: 5%;
}

.inputDiv{
    padding-bottom: 3%;
    padding-top: 2%;
}

.inputClass{
    justify-items: center;
}

.inloop{
    padding-left: 2%;
    padding: 2%;
}

.btn{
    width: 80%;
    background-color: blue;
}

.btncls{
    max-width: 100%;
}