<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">{{otp.otp_title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-center">{{otp.otp_subtitle}}</h6>
      <form [formGroup]="loginForm" (ngSubmit)="sublogin()">
        <div class="inputDiv d-flex justify-content-center">
          <ng-container *ngFor="let item of arr;" class="inloop">
            <input class="inputClass" maxlength="1" autofocus [formControlName]=item (keyup)="keyuppress($event)" appNextfocus>
          </ng-container>

        </div>
        <div class="btncls d-flex justify-content-center">
          <button type="submit" class="btn">{{otp.otp_button_label}}</button>
      </div>
      </form>
      
    </div>
  </div>
</div>